{% extends 'base.html' %}

{% block content %}
<hr>
    <div class="offset-3 col-md-6">

    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'new_post' %}
            <h2><u>Add a New Post</u></h2>
        {% elif url_name == 'edit_post' %}
            <h2><u>Edit Post: {{ post }}</u></h2>
        {% else %}
            <h2><u>Delete Post: {{ post }}</u></h2>
        {% endif %}
    {% endwith %}
    {% if messages %}
        {% for msg in messages %}
            <div {% if msg.tags %} class="alert alert-{{ msg.tags }} alert-dismissible" {% endif %} role="alert">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>{{ msg }}</strong>
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <label><b>{{ field.label_tag }}</b></label>
                    {{ field }}<br>
                {% endfor %}
            </div>

            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'new_post' %}
                    <button  class="btn btn-primary float-right" type="submit">Save</button>
                {% elif url_name == 'edit_post' %}
                    <button class="btn btn-warning float-right" type="submit">Update</button>
                {% else %}
                    <button class="btn btn-danger float-right" type="submit">Delete</button>
                {% endif %}
            {% endwith %}
        </form>
        </div>
    {% endif %}
    </div>

{% endblock %}